@model BO.Arme

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@if (ViewData.ModelState.Values.Select(x => x.Errors).Count() > 1)
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index")
    </div>
}
else
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Arme</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Degats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Degats)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
}
